<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource
        name="jdbc/db" type="javax.sql.DataSource"
        maxActive="100" maxIdle="30" maxWait="10000"
        url="jdbc:mysql://localhost:33306/darProjet"
        driverClassName="com.mysql.jdbc.Driver"
        username="dar" password="dar"
        factory="org.apache.commons.dbcp.BasicDataSourceFactory" 
    />
</Context>